django>=4.1
django-decouple>=2.1
dj_database_url>=1.0.0
django-qr_code>=3.1.1
django-rest_framework>=0.1.0
django-phonenumber_field>=6.4.0
phonenumbers>=8.12.54
reportlab>=3.6.11
python-dateutil>=2.8.2