{% extends 'headerfooter.html' %} 
{% load static %}
{% block xf %}

<div class="bodyy">

    <h2 align="center" class="h1"> Заказ для компании</h2>

<div style="width: 100%;">
<form method="post" style="width:30%;">
    {% csrf_token %}
    <input class="table" type="text" name="a" required placeholder="Уникальный ключ" >    
    <input class="table" type="text" name="b" required placeholder="Наимнование товара" >
    <input class="table" type="number" name="c" required placeholder="Количество" >
    <input class="table" type="text" name="d" required placeholder="Единицы измерения" >
    <input class="table" type="text" name="e" required placeholder="Поставщик"  list="Prov">
    <datalist id="Prov">
        {% for i in provider %}
        <option value="{{i.company}}">
           
       
        {% endfor %}
    </datalist>
            
        <input class="table1" id="" type="submit" value="Отправить">
        </form>
    </div>
</div>
{% endblock %}





