{% extends 'headerfooter.html' %} 
{% load static %}
{% block xf %}

<div class="bodyy">

    <h2 align="center" class="h1"> Данные о поставщике</h2>
    <div align="center">
        <form method="POST">
            {% csrf_token %}
        <input class="table" name="a" type="text" required placeholder="Компания Поставщика">
       
        <input class="table" name="b" type="number"required placeholder="Номер Поставщика" >
        <input class="table" name="c" type="text" required placeholder="Email адрес">
        <input class="table" name="d" type="text" required placeholder="Ответсвенное лицо">
        <br>
            
        <input class="table1" id="" type="submit" value="Отправить">
        </form>
    </div>
</div>
{% endblock %}



