{% extends 'headerfooter.html' %} 
{% load static %}
{% block xf %}
  

<h2 align="center" class="h5"> Товары</h2>

<div class="left">
  
  
    <div align="center">
      {% for i in category %}
            <form method="POST">
              {% csrf_token %}
              <input class="categorykl" type="submit"  name="categorys" value="{{ i.appoinment }}">
                
            </form><br>
        {% endfor %}
</div>
        
           
            
            
          <!--<div  style="width:100%;">
            <input class="knopka" type="button" onclick="window.location.href='mark/'" value="Добавить Сотрудника">
            <input class="knopka" type="button" onclick="window.location.href='orders/'" value="Добавить Поставщика">
            <input class="knopka" type="button" onclick="window.location.href='companyordeers/'" value="Добавить заказ для компании">
            <input class="knopka" type="button" onclick="window.location.href='passportdate/'" value="Паспортные данные">
            <input class="knopka" type="button" onclick="window.location.href='product/'" value="Добавить товар"> !-->
            

          <div class="right">    
            <br><br><br><br>
            <div class="post">
              {% if categorys == None %}
            {% for i in urna %}
             <form method="POST">
               {% csrf_token %}
               <img src="{{ i.photo.url }}" alt="" class="imge" ><br>
               <p class="tip">{{ i.name }}  {{ i.category.appoinment }}</p>
               <input class="knopka" type="text" readonly style="display:none;" name="userid" value="{{ user.id }}">
               <input class="knopka" type="text" readonly style="display:none;" name="product" value="{{ i.id }}">
           
               <input class="col" name="summ" type="number" >
               <input class="corzina" type="submit" readonly value="В корзину">
             </form>
            </div>
            <div class="post">
             {% endfor %}
             
                {% else %}
                {% for i in urna %}
                {% if categorys == i.category.appoinment %}

                <form method="POST">
                  {% csrf_token %}
                  <img src="{{ i.photo.url }}" alt="" class="imge" ><br>
                  <p class="tip">{{ i.name }}  {{ i.category.appoinment }}</p>
                  <input class="knopka" type="text" readonly style="display:none;" name="userid" value="{{ user.id }}">
                  <input class="knopka" type="text" readonly style="display:none;" name="product" value="{{ i.id }}">
              
                  <input class="col" name="summ" type="number"   >
                  <input class="corzina" type="submit" readonly value="В корзину">
                </form>
              {% endif %}
          

         {% endfor %}

               {% endif %}
            
              </div>
         
          </div>
        </>     
    </div>
 </div>
  {% endblock %}
<style>  
  .background{
    width:100%;
    height:500px;
    background-repeat:no-repeat;
    background-size:100%;
    background-position:center;
    background-image:url("https://images.unsplash.com/photo-1516880711640-ef7db81be3e1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"); 
    filter:bkur(5px);
  } 
</style>

</html>