
{% extends 'headerfooter.html' %} 
{% load static %}
{% block xf %}

<div class="bodyy">

    <h2 align="center" class="h1"> Паспортные данные</h2>
    <div align="center">
        <form method="post" style="width:100%;">
            {% csrf_token %}

        <input class="table" name="employee" type="text" required placeholder="Сотрудник" list="empl">
        <datalist id="empl">
            {% for i in employee %}
               <option value="{{ i.first_name }}">
                {% endfor %}
        </datalist>
        <input class="table" name="inn" type="text" required placeholder="ИНН">
        <input class="table" name="nopassport" type="text" required placeholder="Номер паспорта">
        <input class="table" name="location" type="text" required placeholder="Место выдачи">
        <input class="table" name="series" type="text" required placeholder="Серия">
        <input class="table" name="datestart" type="date" required placeholder="Дата выдачи">
        <input class="table" name="dateend" type="date" required placeholder="Дата окончания">
        <br>
            <br>
        <input class="table1" id="" type="submit" value="Отправить">
        </form>
    </div>
</div>
{% endblock %}

