

{% extends 'headerfooter.html' %} 
{% load static %}
{% block xf %}

<div class="bodyy">

    <h2 align="center" class="h1"> Добавить товар</h2>
    <div align="center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <input class="table" name="name" type="text" required placeholder=" Название товара">
        <input class="table" name="" type="text"required placeholder="Вид товара" lsit="view" >
        <datalist id="view">
            {% for x in view %}
                <options value="{{x.view}}"
            {% endfor %}
        </datalist>
        <input class="table" name="" type="text"required placeholder="Назначение" list="appoinment">
           <datalist id="appoinment"
                {% for e in appoinment %}
                    <options value="{{e.appoinmetnt}}"
                {% endfor %}
            </datalist>
        <input class="table" name="" type="text" required placeholder=" Категория" list="categoty">
        <datalist id="categoty">
            {% for i in categoty %}
                <options value="{{i.appoinment}}">
            {% endfor %}
        </datalist>

        <input class="table" name="" type="text" required placeholder=" Бренд" list="brend">
        <datalist id="brend">
            {% for r in brend %}
                <options value="{{r.brend}}"
            {% endfor %}
        </datalist>
        <input class="table" name="" type="number"required placeholder="Количество товара" >
        <input class="table" name="" type="number"required placeholder="Штрих код? нет это волосы" >
        <div class="table">
        {{ form.file }}
        </div>
        <br>
            
        <input class="table1" id="" type="submit" value="Отправить">
        </form>
    </div>
</div>
{% endblock %}



